<div class="container">
    <div class="row" id="row-1">
      <div class="col">
        <div class="img-container right">
          <img src="../../../assets/pics/IMG_1202.JPG" alt="" />
          <p>Lunar dreamscape</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" id="row-2">
      <div class="col"></div>
      <div class="col">
        <div class="img-container left">
          <img src="../../../assets/pics/IMG_1199.JPG" alt="" />
          <p>Futuristic control relic</p>
        </div>
      </div>
    </div>
    <div class="row" id="row-3">
      <div class="col">
        <div class="img-container right">
          <img src="../../../assets/pics/IMG_1198.JPG" alt="" />
          <p>Neo-Tokyo crimson glow</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" id="row-4">
      <div class="col"></div>
      <div class="col">
        <div class="img-container left">
          <img src="../../../assets/pics/IMG_1197.JPG" alt="" />
          <p>Galactic ocean abyss</p>
        </div>
      </div>
    </div>
    <div class="row" id="row-5">
      <div class="col">
        <div class="img-container right">
          <img src="../../../assets/pics/IMG_1193.JPG" alt="" />
          <p>Hued cosmic dust</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" id="row-6">
      <div class="col"></div>
      <div class="col">
        <div class="img-container left">
          <img src="../../../assets/pics/IMG_1194.JPG" alt="" />
          <p>Silent sentinel</p>
        </div>
      </div>
    </div>
    <div class="row" id="row-7">
      <div class="col">
        <div class="img-container right">
          <img src="../../../assets/pics/IMG_1188.JPG" alt="" />
          <p>Ethereal quantum</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" id="row-8">
      <div class="col"></div>
      <div class="col">
        <div class="img-container left">
          <img src="../../../assets/pics/IMG_1195.JPG" alt="" />
          <p>Galactic sister anomalies</p>
        </div>
      </div>
    </div>
    <div class="row" id="row-9">
      <div class="col">
        <div class="img-container right">
          <img src="../../../assets/pics/IMG_1185.JPG" alt="" />
          <p>Luminous drifters</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row" id="row-10">
      <div class="col"></div>
      <div class="col">
        <div class="img-container left">
          <img src="../../../assets/pics/IMG_1200.JPG" alt="" />
          <p>Portal void beyond</p>
        </div>
      </div>
    </div>
    <div class="whitespace"></div>
  </div>
