<div class="containers">
    <div class="left-container">
      <div routerLink="" class="logo">HOME</div>
      <div class="info">
        <a href="#">FAQ</a>
        <a href="#">Help</a>
      </div>
    </div>

    <div class="right-container">
      <div class="first-block"></div>
      <div class="menu-container">
       
      </div>

      <div class="story">
        <h1>Our Story</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
          tempore.ipsum dolor sit. tempore
        </p>
        <p>Read More</p>
      </div>
      <div class="social-container">
        <li class="social">
          <ul>
            Facebook
          </ul>
          <ul>
            Instagram
          </ul>
          <ul>
            Twitter
          </ul>
        </li>
      </div>
    </div>
    <div class="center-container"></div>
  </div>