<section class="footer">
    <div class="left">
        <div class="links">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
        <div class="green"></div>
    </div>
    <div class="center">
        <h3 data-text="&nbsp;m.paci1987@gmail.com&nbsp;">&nbsp;m.paci1987@gmail.com&nbsp;</h3>
        <h4 data-text="&nbsp;https://github.com/pacimarco&nbsp;">&nbsp;https://github.com/pacimarco&nbsp;</h4>
        <h5 data-text="&nbsp;www.linkedin.com/in/marco-paci-764b236b/&nbsp;">&nbsp;www.linkedin.com/in/marco-paci-764b236b/&nbsp;</h5>
    </div>
    <div class="right"></div>
</section>
