<main>
    
    <div class="pixel_wrapper"></div>
    <div class="container">
        <header>
            <div  class="toggle">Menu</div>
        </header>

        <div class="menu">
            <app-matrix></app-matrix>
            <ul>
                <li routerLink=""><span>001 </span> Home</li>
                <li routerLink="about"><span>002 </span> About</li>
                <li routerLink="vr"><span>003 </span> Projects</li>
                <li routerLink="skills"><span>004 </span> Skills</li>
                <li><span>005 </span> Contact</li>
            </ul>
        </div>
        <section>
            <div class="hero">
                <h1>Marco Dev</h1>
                <ul>
                    <li><span>001 </span>Web Developer</li>
                    <li><span>002 </span>UX / UX</li>
                    <li><span>001 </span>Web designer</li>
                </ul>
                <div class="intro"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro blanditiis quaerat optio placeat ipsa at quos qui culpa ea fuga maiores nesciunt architecto animi iusto error mollitia, amet sunt quibusdam!</p></div>
            </div>
            <div class="square"></div>
            
        </section>

        <app-glitch></app-glitch>

        
        <section class="section-img">
            <div class="items">
                <div class="item" id="item-1">
                  <div class="item-img">
                    <img src="../../../assets/pics/IMG_1200.JPG" alt="" />
                  </div>
                  <div class="item-copy">
                    <div class="item-copy-1">
                      <div class="shape">
                        <div id="number"><span>0</span><span>7</span></div>
                        <div class="text-right">
                          <span>n</span><span>a</span><span>n</span><span>o</span
                          ><span>f</span><span>a</span><span>b</span><span>r</span
                          ><span>i</span><span>c</span><span>s</span>
                        </div>
                      </div>
                    </div>
                    <div class="item-copy-2">
                      <div class="shape">
                        <div>
                          <span>h</span><span>o</span><span>l</span><span>o</span
                          ><span>p</span><span>r</span><span>i</span><span>n</span
                          ><span>t</span><span>s</span>
                        </div>
                        <div class="text-right">
                          <span>s</span><span>k</span><span>i</span><span>n</span
                          ><span>s</span><span>y</span><span>n</span><span>c</span
                          ><span>s</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="item" id="item-2">
                  <div class="item-img">
                    <img src="../../../assets/pics/IMG_1185.JPG" alt="" />
                  </div>
                  <div class="item-copy">
                    <div class="item-copy-1">
                      <div class="shape">
                        <div id="number" class="text-right">
                          <span>0</span><span>9</span>
                        </div>
                        <div>
                          <span>n</span><span>e</span><span>u</span><span>r</span
                          ><span>o</span><span>a</span><span>t</span><span>t</span
                          ><span>i</span><span>r</span><span>e</span>
                        </div>
                      </div>
                    </div>
                    <div class="item-copy-2">
                      <div class="shape">
                        <div class="text-right">
                          <span>m</span><span>o</span><span>r</span><span>p</span
                          ><span>h</span><span>c</span><span>l</span><span>o</span
                          ><span>t</span><span>h</span>
                        </div>
                        <div>
                          <span>0</span><span>w</span><span>a</span><span>s</span
                          ><span>t</span><span>e</span><span>w</span><span>e</span
                          ><span>a</span><span>r</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        
    </div>
</main>

<div class="container-app">
  <app-scroll></app-scroll>
</div>
