

<section class="page">
    <button><a routerLink="">torna alla home</a></button> 
    <div #navWrapper class="nav-wrapper">
        <nav>
              <a href="#" class="hover-this"><span>Html</span></a>
              <a href="#" class="hover-this"><span>Css</span></a>
              
              <a href="#" class="hover-this"><span>Js</span></a>
              <a href="#" class="hover-this"><span>Typescript</span></a>
              <a href="#" class="hover-this"><span>Vue</span></a>
              <a href="#" class="hover-this"><span>Angular</span></a>
              <a href="#" class="hover-this"><span>React</span></a>
              <a href="#" class="hover-this"><span>Php</span></a>
              <a href="#" class="hover-this"><span>Laravel</span></a>
              <a href="#" class="hover-this"><span>MySql</span></a>
              <a href="#" class="hover-this"><span>Gsap</span></a>
              <a href="#" class="hover-this"><span>Three Js</span></a>
              <a href="#" class="hover-this"><span>Git</span></a>
              <div class="cursor"></div>
        </nav>
        
  </div>
  
  

   <!-- <button><a routerLink="">torna alla home</a></button> -->
</section>



