<div class="box">
    <div class="container">
        <div class="nav">
          <a routerLink="">Home</a>
          <a routerLink="/twoimg">My Skills</a>
        </div>
        <div class="footer">
          <a href="#">Behance</a>
          <a href="#">Catalog</a>
        </div>
        <div class="header">
          <div class="text">
            <p>In a future</p>
            <div class="text-revealer"></div>
          </div>
          <div class="text">
            <p>not too distant</p>
            <div class="text-revealer"></div>
          </div>
        </div>
        <div class="gallery">
          <div class="img">
            <img src="../../../assets/skill/html.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/css.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/js.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/typescript.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/vue.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/react.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/angular.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/php.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/laravel.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/mysql.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/gsap.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/threejs.png" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/boot.jpg" alt="" />
          </div>
          <div class="img">
            <img src="../../../assets/skill/git.png" alt="" />
          </div>
        </div>
      </div>
    
</div>